<h1>See what animes are out there</h1>

<!-- print out each users posts and how long ago it was posted by with user that posted it -->
<% @posts.each do |pr| %>
  <article>
    <ul class="media-list">
      <li class="media">
        <div class="media-left">
          <h5><%= link_to(pr.user.user_name, user_path(pr.user)) %></h5>
        </div>
        <div class="media-body">
          <h4>Anime: <%= pr.title %></h4>
          <p>Description: <%= pr.body %></p>
        </div>
        <div class="media-right">
          <h6>about <%= time_ago_in_words(pr.created_at) %> ago</h6><br>
        </div>
      </li>
    </ul>
  </article>
<% end %>
