<h1>User Feed Page</h1>
<p>Find me in app/views/user/index.html.erb</p>

<article>
  <% @users.each do |u| %>
  <%= link_to(u.name, user_path(u.id)) %><br>
  <% end %>
</article>

<%= link_to "Home Page", root_path %>
