<h1>Post#edit</h1>
<p>Find me in app/views/post/edit.html.erb</p>

<%= form_for @post do |f| %>
  <%= f.text_field(:title, placeholder: 'Anime Name') %>
  <%= f.text_field(:body, placeholder: 'Body') %>
  <%= f.submit "Change That Post" %>
<% end %>
