/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.input {
  margin: 1px;
  width: 250px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.submit {
  margin: 1px;
  width: 250px;
}
.comment-container {
  margin: 0 auto;
}
.commentBox {
  margin: 2% auto;
  // border: 1px solid rgb(48,48,45);
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #0ce3ac;
  background-color: #222222;
  overflow-y: auto;
  overflow-wrap: break-word;
  height: 150px;
  max-width: 500px;
  width: 75%;
}
.comments {
  text-align: left;
  margin: 1%;
}
.profile-content {
  text-align: center;
}
.feed-container {
  overflow-y: auto;
  max-height: 75%;
  height: 560px;
  bottom: 0px;
}
.feed {
  margin: 2% 2%;
  border: 3px solid #0ce3ac;
  font-size: 20px;
}
.feed-title {
  text-align: center;
}
.content {
  margin: 0 2%;
}
.time {
  text-align: right;
  margin-top: -2%;
  margin-bottom: -5%;
}
.item > img {
  width: 100%;
}
.move-back {
  width: 80%;
  position: absolute;
  z-index: -1;
}
.place {
  margin-left: 10%;
  margin-bottom: 10%;
}
.field-size {
  min-width: 10%;
  width: 50% !important;
}
.btn-size {
  margin-left: 10%;
  width: 25%;
}
.post-container {
  border: 1px solid #22222;
  height: 650px;
  overflow-y: auto;
}
#list-container {
  border: 1px solid #0ce3ac;
  width: 150px;
  height: 250px;
  overflow-y: auto;
}
#suggested {
  border: 1px solid #375a7f;
  width: 150px;
  height: 250px;
  overflow-y: auto;
}
.btn-sm {
  float: right;
}
.feedback {
  margin-right: 2%;
  color: #375a7f;
  text-decoration: none;
}
:hover.feedback{
  text-decoration: none;
}
li {
  list-style: none;
}
